.login-container {
    width: 40%;
    margin: auto;
    display: block;
}

#logo {
    width: 66%;
    margin: auto;
    text-align: center;
    margin: 60px;
    border: 20px solid white;
    border-radius: 10px;
    background-color: white;
}